@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: montserrat;
}
body{
    padding: 5%;
    background-image: url("Images/background.jpg");
}
.container{
    padding: 25px;
    background-color:azure;
    height: 60vh;
    border-radius: 20px;
}
.qcontainer{
    color:black;
    display: inline;
    font-style:italic;
    font-size:large;
}
.qcontainer p img{
    width: 8vh;
    font-size: larger;
    margin-right:2%;
}
.acontainer{
    color:black;
    display: inline;
    font-style:italic;
    font-size:large;
}
.acontainer p img{
    width: 8vh;
    font-size: larger;
    margin-right:2%;
}
body h3{
    margin-top: 2%;
    color:white;
    text-align: center;
}
body h3 span{
    color:cyan;
    font-style: italic;
}

body h3 img{
    width: 2%;
}


